<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script src="../../../../scripts/yahoo-dom-event.js"></script>
    <script src="../../../../scripts/jquery-1.4.js"></script>
    
    <link rel="stylesheet" href="../../../qunit.css" type="text/css" media="screen" />
    <script type="text/javascript" src="../../../qunit.js"></script>
    
    <link rel="stylesheet" href="BoardView-test.css" type="text/css" media="screen" />

    <script src="../../../../../../main/webapp/scripts/isolace/isolace.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/Util.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/Events.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/model/Puzzle.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/model/BoardState.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/controller/TimerController.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/controller/BoardController.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/view/render/TextRenderer.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/view/selector/BorderSelector.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/view/BoardViewEvents.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/view/TimerView.js"></script>
    <script src="../../../../../../main/webapp/scripts/isolace/sudoku/view/BoardView.js"></script>

    <script>

    //  file:///Users/iSolace/Documents/isolace-dev/isolace-sudoku-js/src/test/webapp/scripts/isolace/sudoku/view/BoardView-test.htm
    
        var values = [8,6,4,5,3,1,2,9,7,9,5,1,6,2,7,8,4,3,2,7,3,4,8,9,6,1,5,1,4,7,9,5,6,3,8,2,3,9,6,2,4,8,5,7,1,5,8,2,1,7,3,9,6,4,6,2,5,8,1,4,7,3,9,7,1,9,3,6,5,4,2,8,4,3,8,7,9,2,1,5,6];
        var revealedIndexes = [2,7,11,12,15,18,21,23,26,29,31,34,35,36,39,40,44,45,46,49,51,54,56,60,62,64,67,68,73,77,78];
        var puzzle = new ISOLACE.sudoku.Puzzle(values, revealedIndexes);

        $(document).ready(function() {
            
            module("isolace/sudoku/view/BoardView");

            test("constructor", function() {
                var bv = new ISOLACE.sudoku.BoardView(puzzle, {});
                ok(bv, "BoardView instanciated");
            });

            test("options default renderer", function() {
                var bv = new ISOLACE.sudoku.BoardView(puzzle);
                ok(bv.renderer.render != undefined, "BoardView has default renderer");
            });

            test("options default selector", function() {
                var bv = new ISOLACE.sudoku.BoardView(puzzle);
                ok(bv.selector.select != undefined, "BoardView has default selector");
                ok(bv.selector.unselect != undefined, "BoardView has default selector");
            });


        });

    </script>

</head>

<body>
    <h1 id="qunit-header">Sudoku JavaScript Unit Tests</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id='boardView' class='boardView'>&nbsp;</div>
</body>

</html>