.bodyContent {
    width: 51em;
    height: 58em;
    margin-left: auto;
    margin-right: auto;
}

#tabs-1,#tabs-2,#tabs-3,#tabs-4 {
    min-height:468px;
    height:auto !important;
    height:468px;
}

.boardContent {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.boardLayout {
    width: 706px;
    height: 454px;
    margin: 0;
    padding: 0;
    float: left;
}

#boardView {
    position: absolute;
    top: 7px;
    left: 0px;
    border: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    /*
    height: 443px;
    float: left;
    margin-bottom: 6px;
    */
}

#markerModeView {
    position: absolute;
    top: 461px;
    left: 166px;
    font-family: arial !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #3B5998;
}

#levelView {
    position: absolute;
    top: 461px;
    left: 0px;
    font-family: arial !important;
    font-size: 14px !important;
    font-weight: bold;
}

.timerView {
    position: absolute;
    top: 459px;
    left: 306px;
    min-width: 141px;
}

#controlView {
    position: absolute;
    top: 7px;
    left: 466px;
    height: 127px;
    width: 135px;
    padding: 4px;
    padding-top: 10px;
    padding-left: 11px;
}

.sbutton {
    width: 90px !important;
    margin-bottom: 8px;
    font-family: arial !important;
    font-size: 12px !important;
    text-alignment: left !important;
}


#symbolCountView {
    position: absolute;
    top: 167px;
    left: 466px;
    border: 1px solid #999;
    height: 170px;
    min-width: 150px;
}

#undoView {
    position: absolute;
    top: 250px;
    left: 470px;
}

#levelMenu {
    font-size: 62.5%;
    font-family: "Verdana", sans-serif;
    margin: 70px 10px;
    float: left;
}

fieldset {
    border: 0;
    margin-bottom: 40px;
}

select {
    width: 100px;
}

label,select,.ui-select-menu {
    float: left;
    margin-right: 10px;
}

.boardControls {
    float: left;
    width: 236px;
    height: 442px;
    padding: 0;
    margin-left: 18px;
}

.symbolCount,.symbolCountHeader {
    float: left;
    width: 14px;
    height: 17px;
}

.symbolCountHeader {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.markIcon {
    margin-top: 6px;
    float: left;
}

.markBackground {
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    background-color: #3B5998;
}

.guessBackground {
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
    background-color: transparent;
}

#playContent {
    position: absolute;
}

#optionsContent {
    position: absolute;
}

#optionsSepartor0,#optionsSepartor1,#optionsSepartor2 {
    position: absolute;
    left: 12px;
    width: 400px;
}

#optionsSepartor0 {
    top: 0px;
}

#optionsSepartor1 {
    top: 146px;
}

#optionsSepartor2 {
    top: 204px;
}

.optionsSymbolTypeImage, .optionSymbolTypeColorImage, .optionSymbolTypeNumberImage {
    position: absolute;
    width: 88px;
    height: 88px;
    border: 2px solid transparent;
}

.optionsSymbolTypeImageSelected {
    border: 2px solid #3B5998;
}

.optionSymbolTypeColorImage {
    top: 22px;
    left: 124px;
}

.optionSymbolTypeNumberImage {
    top: 22px;
    left: 12px;
}

.optionSymbolTypeColorButton,.optionSymbolTypeNumberButton {
    position: absolute;
    width: 92px !important;
    top: 115px;
}

.optionSymbolTypeNumberButton {
    left: 12px;
}

.optionSymbolTypeColorButton {
    left: 124px;
}

.optionLevel {
    position: absolute;
    top: 168px;
    left: 12px;
    width: 400px;
}

.infoView {
    float: bottom;
}

#selector {
    position: absolute;
    height: 48px;
    width: 48px;
}

#selectorMarker {
    position: absolute;
    height: 45px;
    width: 45px;
    display: 'none';
}

.undoView {
    float: left;
    display: block;
    padding-top: 4px;
}

#pickerView {
    position: absolute;
    top: 650px;
    left: 212px;
    display: block;
}

.cellrow {
    height: 48px;
    border: 0px solid orange;
}

.cell {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 48px;
    width: 48px;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}

.evenGrid {
    background-color: #ffffff;
}

.oddGrid {
    background-color: #f2f5f7;
}

.rowBorder {
    border-bottom: 2px solid black;
}

.colBorder {
    border-right: 2px solid black;
}

.selectedCell {
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

div.marker {
    font-family: Tahoma, "New Courier";
    font-size: 33%;
    float: left;
    width: 14px;
    height: 14px;
    margin-left: 1px;
    margin-top: 1px;
}

.revealedCell {
    color: #888888;
}

.unrevealedCell {
    color: #505050;
}

.unrevealedCellConflicted {
    color: red;
}

.fiftyPercent {
    filter: alpha(opacity =     50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.sixtyPercent {
    filter: alpha(opacity =     60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.facebook {
    background-color: #3B5998;
}
/*
.my-state-active {
    background: #3B5998 url(facebook/images/ui-bg_glass_50_3B5998_1x400.png)
        50% 50% repeat-x !important;
    font-weight: bold !important;
    color: #fff !important;
}
.my-state-hover {
    color: #ddd !important;
}
*/

.marker {
    height: 14px;
}

.color {
    width: 80%;
    height: 80%;
    background-color: transparent;
    margin: 5px;
}

.colorRevealedIE {
    width: 60%;
    height: 60%;
    background-color: transparent;
    margin: 10px;
}

.colorRevealed {
    width: 80%;
    height: 80%;
    background-color: transparent;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.colorMarkerConflict {
    width: 4px;
    height: 4px;
    border: 1px solid white;
    margin: 4px;
    background-color: red;
}

.colorSymbolCount {
    width: 13px;
    height: 14px;
    float: left;
    border-left: 1px solid white;
}

div.zero {
    background-color: transparent;
}

div.one {
    background-color: #D62469;
}

div.two {
    background-color: #F87F1F;
}

div.three {
    background-color: #F9C71E;
}

div.four {
    background-color: #AFCE3B;
}

div.five {
    background-color: #187349;
}

div.six {
    background-color: #00ABED;
}

div.seven {
    background-color: #0665AE;
}

div.eight {
    background-color: #64095E;
}

div.nine {
    background-color: black;
}

.timerViewImage {
    float: right;
    width: 14px;
    height: 17px;
}

button.timerPause {
    float: right;
    height: 20px;
}

div.logo {
    width: 151px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
}

.combinedImage {
    background-image: url(../images/facebook/combined.png);
    background-repeat: no-repeat;
}

.colorsImage {
    background-image: url(../images/colors.png);
    background-repeat: no-repeat;
}

.why {
    background-position: -95px -1771px;
}

.sprite-1-guess-conflict {
    background-position: 0 0;
}

.sprite-1-guess {
    background-position: 0 -95px;
}

.sprite-1-marker-conflict {
    background-position: 0 -190px;
}

.sprite-1-marker {
    background-position: 0 -257px;
}

.sprite-1-revealed {
    background-position: 0 -324px;
}

.sprite-2-guess-conflict {
    background-position: 0 -419px;
}

.sprite-2-guess {
    background-position: 0 -514px;
}

.sprite-2-marker-conflict {
    background-position: 0 -609px;
}

.sprite-2-marker {
    background-position: 0 -676px;
}

.sprite-2-revealed {
    background-position: 0 -743px;
}

.sprite-3-guess-conflict {
    background-position: 0 -838px;
}

.sprite-3-guess {
    background-position: 0 -933px;
}

.sprite-3-marker-conflict {
    background-position: 0 -1028px;
}

.sprite-3-marker {
    background-position: 0 -1095px;
}

.sprite-3-revealed {
    background-position: 0 -1162px;
}

.sprite-4-guess-conflict {
    background-position: 0 -1257px;
}

.sprite-4-guess {
    background-position: 0 -1352px;
}

.sprite-4-marker-conflict {
    background-position: 0 -1447px;
}

.sprite-4-marker {
    background-position: 0 -1514px;
}

.sprite-4-revealed {
    background-position: 0 -1581px;
}

.sprite-5-guess-conflict {
    background-position: 0 -1676px;
}

.sprite-5-guess {
    background-position: 0 -1771px;
}

.sprite-5-marker-conflict {
    background-position: 0 -1866px;
}

.sprite-5-marker {
    background-position: 0 -1933px;
}

.sprite-5-revealed {
    background-position: -95px 0;
}

.sprite-6-guess-conflict {
    background-position: -95px -95px;
}

.sprite-6-guess {
    background-position: -95px -190px;
}

.sprite-6-marker-conflict {
    background-position: -95px -285px;
}

.sprite-6-marker {
    background-position: -95px -352px;
}

.sprite-6-revealed {
    background-position: -95px -419px;
}

.sprite-7-guess-conflict {
    background-position: -95px -514px;
}

.sprite-7-guess {
    background-position: -95px -609px;
}

.sprite-7-marker-conflict {
    background-position: -95px -704px;
}

.sprite-7-marker {
    background-position: -95px -771px;
}

.sprite-7-revealed {
    background-position: -95px -838px;
}

.sprite-8-guess-conflict {
    background-position: -95px -933px;
}

.sprite-8-guess {
    background-position: -95px -1028px;
}

.sprite-8-marker-conflict {
    background-position: -95px -1123px;
}

.sprite-8-marker {
    background-position: -95px -1190px;
}

.sprite-8-revealed {
    background-position: -95px -1257px;
}

.sprite-9-guess-conflict {
    background-position: -95px -1352px;
}

.sprite-9-guess {
    background-position: -95px -1447px;
}

.sprite-9-marker-conflict {
    background-position: -95px -1542px;
}

.sprite-9-marker {
    background-position: -95px -1609px;
}

.sprite-9-revealed {
    background-position: -95px -1676px;
}

.sprite-colorboard {
    background-position: -95px -1771px;
}

.sprite-numbicboard {
    background-position: -95px -1909px;
}

.sprite-select {
    background-position: -233px 0;
}

.sprite-sudoku {
    background-position: -233px -98px;
}

.sprite-timer-0 {
    background-position: -233px -192px;
}

.sprite-timer-1 {
    background-position: -233px -259px;
}

.sprite-timer-2 {
    background-position: -233px -326px;
}

.sprite-timer-3 {
    background-position: -233px -393px;
}

.sprite-timer-4 {
    background-position: -233px -460px;
}

.sprite-timer-5 {
    background-position: -233px -527px;
}

.sprite-timer-6 {
    background-position: -233px -594px;
}

.sprite-timer-7 {
    background-position: -233px -661px;
}

.sprite-timer-8 {
    background-position: -233px -728px;
}

.sprite-timer-9 {
    background-position: -233px -795px;
}

.sprite-timer-seperator {
    background-position: -233px -862px;
}

#tooltip.pretty {
    font-family: Arial;
    border: none;
    width: 210px;
    padding:20px;
    height: 135px;
    opacity: 0.8;
    background: url('../images/tooltip/shadow.png');
}
#tooltip.pretty h3 {
    margin-bottom: 0.75em;
    font-size: 12pt;
    width: 220px;
    text-align: center;
}
#tooltip.pretty div { width: 220px; text-align: left; }
 
#tooltip.fancy {
    background: url('../images/tooltip/spout-left.png');
    padding-top: 5em;
    height: 100px;
}
#tooltip.fancy.viewport-right {
    background: url('../images/tooltip/spout-right.png');
}

#tooltip.spout-left-down {
    background: url('../images/tooltip/spout-left-down.png');
    background-repeat: no-repeat;
    height: 100px;
    opacity: 1.0;
}