.bodyContent {
    width: 50em;
    height: 58em;
    margin-left: auto ;
    margin-right: auto ;
}

.boardContent {
    width: 446px;
    height: 472px;
    margin: 0;
    padding: 0;
}

.boardLayout {
    width: 706px;
    height: 454px;
    margin: 0;
    padding: 0;
    float: left;
}

#boardView {
    height: 443px;
    border: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    margin-bottom: 6px;
}

#scoresView {
    width: 100%;
}

.boardControls {
    float: left;
    width: 236px;
    height: 442px;
    padding: 0;
    margin-left: 18px;
}

#boardControlView {
    margin-top: 4px;
}

#symbolCountView {
    float: left;
    border: 1px solid #999;
    height: 170px;
    min-width: 141px;
}

.symbolCountHeader {
    float: left;
    width: 14px;
    height: 17px;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.timerView {
    margin-top: 6px;
    float: right;
    min-width: 110px;
}

.markIcon {
    margin-top: 6px;
    float: left;
}

#optionsContent {
    margin: 12px;
}

.optionsSymbolTypeImage {
    height: 96px;
    width: 96px;
    border: 2px solid transparent;
}

.optionsSymbolTypeImageSelected {
    border: 2px solid #3B5998;
}

.infoView {
    float: bottom;
}

#selector {
    position: absolute;
    height: 48px;
    width: 48px;
}
    
#selectorMarker {
    position: absolute;
    height: 16px;
    width: 16px;
    display: 'none';
}
    
.undoView {
    float: left;
    display: block;
    padding-top: 4px;
}

#pickerView {
    position: absolute;
    top: 650px;
    left: 212px;
    display: block;
}

.cellrow {
    height: 48px;
    border: 0px solid orange;
}

.cell {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 48px;
    width: 48px;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}

.evenGrid {
    background-color: #ffffff;
}

.oddGrid {
    background-color: #f2f5f7;
}

.rowBorder {
    border-bottom: 2px solid black;
}

.colBorder {
    border-right: 2px solid black;
}

.selectedCell {
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

div.marker {
    font-family: Tahoma, "New Courier";
    font-size: 33%;
    float: left;
    width: 14px;
    height: 14px;
    margin-left: 1px;
    margin-top: 1px;
}

.revealedCell {
    color: #888888 ;
}

.unrevealedCell {
    color: #505050;
}

.unrevealedCellConflicted {
    color: red;
}

.fiftyPercent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.sixtyPercent {
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.facebook {
    background-color: #3B5998;
}


.my-state-active { background: #3B5998 url(facebook/images/ui-bg_glass_50_3B5998_1x400.png) 50% 50% repeat-x !important; font-weight: bold !important; color: #fff !important; }
.my-state-hover { color: #ddd !important; }

.marker {
    height: 14px;
}

.color {
    width: 80%;
    height: 80%;
    background-color: transparent;
    margin: 5px;
}

.colorRevealed {
    width: 60%;
    height: 60%;
    background-color: transparent;
    margin: 10px;
}

.colorMarkerConflict {
    width: 4px;
    height: 4px;
    border: 1px solid white;
    margin: 4px;
    background-color: red;
}

.colorSymbolCount {
    width: 13px;
    height: 14px;
    float: left;
    border-left: 1px solid white;
}

div.zero {
    background-color: transparent;
}
div.one {
    background-color: #D62469;
}
div.two {
    background-color: #F87F1F;
}
div.three {
    background-color: #F9C71E;
}
div.four {
    background-color: #AFCE3B;
}
div.five {
    background-color: #187349;
}
div.six {
    background-color: #00ABED;
}
div.seven {
    background-color: #0665AE;
}
div.eight {
    background-color: #64095E;
}
div.nine {
    background-color: black;
}
.timerViewImages{
    float: right;
}

button.timerPause {
    float: right;
    height: 20px;
}
