.board {
    position: absolute;
    top: 10px;
    left: 100px;
    border: 1px solid #333;
    font-size: 48px;
    border: 2px solid black;
}
    
.timer {
    position: absolute;
    top: 10px;
    left: 0px;
    border: 1px solid #333;
    font-size: 24px;
    border: 2px solid black;
}

.cellrow {
    height: 48px;
    border: 0px solid orange;
}

.cell {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: 48px;
    width: 48px;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
}

.evenGrid {
    background-color: #ffffff;
}

.oddGrid {
    background-color: #eee;
}

.rowBorder {
    border-bottom: 2px solid black;
}

.colBorder {
    border-right: 2px solid black;
}